# Ignorar todos los archivos de pdf reportes
*.pdf

# Ignorar todos los archivos de texto
*.csv

# Ignorar ejecutable generado
*.exe

# Otros formatos
*.pyc
*.xls
*.xlsx
*.spec


# Ignorar carpetas
/dist
/build
/.VSCodeCounter/
/__pycache__
/paraBackup
/paraAnalisis
/env
/